* {         /*TOUCHE TOUT LE DOCUMENT=RESET*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper {
    margin: 0 auto;
    width: 80%;
}

nav {
    text-align: right;      /*POUR METTRE LE MENU A DROITE*/
    position: relative;
    bottom: 90px;
}

nav  a {
    text-decoration: none;
    font-size: 125%;
    color: mediumvioletred;
    display: inline-block;              /*CECI EST LE MENU*/
    width: 10%;
    box-sizing: border-box;
    border-bottom: 2px solid lightgrey ;
    text-align: center;

}
a.active {
    color: purple;
    border-bottom: 2px solid firebrick ;

}

nav  a:hover {
    color: mediumpurple;
}
header {
    margin-top: 20px;
}
header img {
    display: inline-block;
    border-radius: 150%;
    opacity: 0.7;
}
header p {
    display: inline-block;
    vertical-align: 80px;
    font-size: 300%;
    position: relative;
    right:235px;
    color:darkred;
}
footer  {
    text-align: center
}

/*----------------------------- NE PAS TOUCHER LA PARTIE COMMUNE AU DESSUS ------------0k------------------------------ */
#main img {
    width: 100%;        /*MON IMAGE*/
    max-height: 500px;
}

/*----------------------------------*POUR MON FORMULAIRE*---------------------------------------------------------- */
fieldset {
    text-align: center;
}
form#content fieldset ul li {
    list-style-type: none ;
}
form p, form h2, fieldset ul li {
    padding: 10px;

}
.sub {
    text-align: center;     /* BOUTON SUBMIT*/
    margin-top: 20px;
}

#soumettre {
padding: 20px;
border-radius: 90px;
margin-top: 20px;
background-color: white;
width: 250px;
}

label.long {
    width: 5%;          /* POUR ESPACEMENT ENTRE NOM ET CASE*/
    display: inline-block;
}

/*----------------------------- NE PAS TOUCHER :PARTIE A DAVE ! ----------------------------------------------------- */
#dc_wrapper {
    margin: 0 auto;
    width: 80%;
}
#dc_wrapper section.dc_menu,div.dc_prix {   /*----section gauche---*/
    display: inline-block;
    width: 45%;
    min-height:75px;
    margin-top:10px;
    margin-right:5%;
    background-color:maroon;
}
aside {
    display: inline-block;
    width: 45%;
    margin-top:10px;

}
h1{
    font-size:25px ;
    color: maroon;
    text-decoration: underline;
    background-color: white;
    padding: 10px 0;
}
ul,li {
    color: white;
    font-size:20px;
}
h2 {
    margin-top: 10px;
    font-size: 20px;
    color: maroon;
    text-decoration: underline;
}
ul.choix_1  li, ul.choix_2 li,ul.choix_3 li {
    margin-left: 30px;
    list-style-type: disc;
    font-size: 20px;
}
table{
    margin: 10px auto;
    width: 100%;
    height: 150px;

}

table, th, tr, td {
    border:4px solid #d4b051;
    border-collapse: collapse;
    color: #ffffff;
}
tr:nth-of-type(1) {
    background-color:maroon ;
}

tr:nth-child(4) {
    background-color: #d7daa4;
    text-decoration: underline;
}
p {
    display: inline-block;
    width: 45%;
    min-height:75px;
    margin-top:10px;
    margin-right:5%;
}


/*----------section droit--------*/
div.dc_droit {
    display: inline-block;
    width: 50%;
    float: right;
    background-color: aquamarine;


}
div.dc_droit>section>div {
    display: inline-block;
    width:45%;
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;

}
div.dc_droit>section>div>img{
    width: 255px;
    height: 195px;
}
div.dc_droit>section>div>figcaption>p {
    width: 100%;

}
