* {         /*TOUCHE TOUT LE DOCUMENT=RESET*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper {
    margin: 0 auto;
    width: 80%;
}
nav  a {
    text-decoration: none;
    font-size: 100%;
    color: mediumvioletred;
    display: inline-block;              /*CECI EST LE MENU*/
    width: 10%;
    box-sizing: border-box;
    float: right;
    position: relative;
    bottom: 100px;
    border-bottom: 2px solid lightgrey ;
}
nav  a:hover {
    color: mediumpurple;
}
header img {
    display: inline-block;
    border-radius: 150%;
    opacity: 0.7;
}
header p {
    display: inline-block;
    vertical-align: 80px;
    font-size: 300%;
    position: relative;
    right:235px;
    color:darkred;
}
footer a  {
    text-align: center
}

/*----------------------------- NE PAS TOUCHER LA PARTIE COMMUNE AU DESSUS ------------------------------------------ */

#main img {
    width: 100%;        /*MON IMAGE*/
    max-height: 500px;
}

form#content fieldset ul li {
    list-style-type: none ;         /* POUR MON FORMULAIRE*/
}
/*----------------------------- NE PAS TOUCHER :PARTIE A DAVE ! ----------------------------------------------------- */
